@model List<WebApp.Models.Book.GetListBookModel>

<a class="btn btn-danger btn-sm" asp-action="Create" asp-controller="Books">Create</a>
<table class="table">
@foreach(var item in Model)
{   
        <tr>
            <td><a asp-action="GetById" asp-controller="Books" asp-route-id="@item.Id">@item.Name</a></td>
            <td>@item.AuthorName</td>
            <td><a class="btn btn-danger btn-sm" asp-action="Delete" asp-controller="Books" asp-route-id="@item.Id">Delete</a></td>
            <td><a class="btn btn-danger btn-sm" asp-action="Update" asp-controller="Books" asp-route-id="@item.Id">Update</a></td>
        </tr>
}
</table>